
/* Based on UTOPIA Fluid Responsive Design */
/* https: //utopia.fyi/ */

:root {

/*
  Add Utopia Fluid Font Responsive Design
*/
    --step--1: clamp(0.83rem, calc(0.74rem + 0.46vw), 1.10rem);
    --step-3: clamp(1.73rem, calc(1.40rem + 1.67vw), 2.69rem);

/*
  Add Utopia Fluid Space Responsive Design
*/
    --space-s: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.56rem);
    --space-custom: clamp(25.00rem, calc(20.11rem + 24.46vw), 39.06rem);

}