
/*
Based on  https://www.joshwcomeau.com/css/custom-css-reset/
*/

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

/*
  Add Utopia Fluid Font Responsive Design
*/

:root {
    --step-0: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.56rem);
    --step-1: clamp(1.20rem, calc(0.94rem + 1.31vw), 1.95rem);
    --step-2: clamp(1.44rem, calc(1.09rem + 1.74vw), 2.44rem);
    --step-3: clamp(1.73rem, calc(1.27rem + 2.30vw), 3.05rem);
    --step-4: clamp(2.07rem, calc(1.47rem + 3.03vw), 3.82rem);
    --step-5: clamp(2.49rem, calc(1.70rem + 3.97vw), 4.77rem);
    --step-6: clamp(2.99rem, calc(1.95rem + 5.17vw), 5.96rem);
    --step-7: clamp(3.58rem, calc(2.24rem + 6.73vw), 7.45rem);
    --step-8: clamp(4.30rem, calc(2.56rem + 8.72vw), 9.31rem);
}